<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <h4 class="card-header">Error 404</h4>
        <div class="card-body">
          <h5>Vista aún no implementada</h5>
          <a href="/">
            <button type="button"  class="btn btn-info">Volver al inicio</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>